# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars

# Secrets
.env
*.pem
*.key
*.pfx
*.crt
secrets.*
credentials.*
kubeconfig*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Logs
*.log
